* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;

  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

a,
button {
  cursor: pointer;
}

a {
  color: #000000;
}

@media (max-width: 1080px) {
  hmtl {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  hmtl {
    font-size: 87.5%;
  }
}
